.contendorPrincipal{
	width: 100%;
	background: url("./img/fondo.png");


.textoT{
background:#7436d5;
padding: 60px;
text-align: center;
font-size: 30pt;
color: #fff;
}

.principal{
	background: #4604ad;
	border-radius: 5px;
}

.contProc{
	margin: 20px 0;
	padding:20px;
	.cBoton{
		margin-bottom:0px;
		width: 100%;
		height: 100%;
	.a{
		&:hover{
			background: rgba(#fa5f8c,.6);
			border-radius: 5px;
			text-decoration: underline;
			color:#000;
		}
	}
	.b{
		&:hover{
			background: rgba(#5f80fa,.6);
		
			border-radius: 5px;
			text-decoration: underline;
			color:#000;
		}
	}
		a{
			margin-top: 10px;
			font-size: 30pt;
			color:#fff;
			img{
				width: 100%;
				height: 400px;
				}
			}
	}
	}
}
.contenedorTabla{
	background: #290265;
	color: #fff;
	text-align: justify;
	padding: 20px 0;
	margin: 10px 0;
	.titulos{
		border:2px solid #1b0839;
		background: #4407a3;
		text-decoration: underline;
	}
	.textoFila{
		background: #4407a3;
		border:3px solid #18003d;
	}
	.textoSec{
		background: #6131ab;
		border:3px solid #18003d;
	}
	.colBtn{
		text-align: center;
	}
	.btn-consulta{
		background: #0b49ff;
		color: #fff;
		&:hover{
		background: #4407a3;
		color: #fff;
		}
	}
	.btn-elimina{
		background: #dd0123;
		color: #fff;
		&:hover{
		background: #4407a3;
		color: #fff;
		}
	}
}
